{
    "presets": [
        "flow",
        [
            "env", {
                "targets": {
                    "node": "10.5"
                }
            }
        ]
    ],
    "env": {
        "test": {
            "plugins": [ "istanbul" ]
        }
    }
}